<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/admin/bonusAction/add}">
    <input type="text" name="email">
    <br>
    <select name="discount" required>
        <option th:each="discount : ${discounts}"
                th:value="${discount.getCost()}" th:text="${discount.getCost()}">
        </option>
    </select>
    <br>
    <input type="submit">
</form>
</body>
</html>