<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/admin/serviceAction/add}">
  <input type="text" name="name">
  <br>
  <select name="type" required>
    <option th:each="type : ${types}"
            th:value="${type.getCode()}" th:text="${type.getCode()}"></option>
  </select>
  <br>
  <input type="number" name="cost">
  <br>
  <br><br>
  <select name="master" required>
    <option th:each="master : ${masters}" th:value="${master.getMasterId()}"
            th:text="${master.getMasterSurname() + ' ' + master.getMasterName()}"></option>
  </select>  <br>
  <input type="submit">
</form>
</body>
</html>