<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body class="admin">
    <section class="topSection">
      <div class="topSection__header">
        <header class="header">
          <div class="content header__content"><a class="header__contact-link" href="tel:80177711177">8(017771 11
            77)</a>
            <nav><a href="/main">Main</a><a href="/services/serviceBody">Services</a><a href="/masters">Masters</a><a
                    href="/certificate">Certificate</a><a href="/profile/profileRecord">Profile</a></nav>
          </div>
        </header>
      </div><img class="topSection__image" src="/images/b879cb161622361.63f21a78489e5.jpg" alt="">
      <div class="content topSection__content">
        <h1>ADMIN</h1>
      </div>
    </section>
    <nav class="adminMenu"><a class="adminMenu__link" href="/admin/mastersAction">Masters Action</a><a class="adminMenu__link" href="/admin/serviceAction">Services Action</a><a class="adminMenu__link" href="/admin/bonusAction">Bonus</a><a class="adminMenu__link" href="/admin/profitability">Profitability</a><a class="adminMenu__link" href="/admin/report">Report</a><a class="adminMenu__link" href="/admin/profit">Profit</a></nav>
    <section class="section profitabilitySection">
      <div class="content profitabilitySection__content">
        <div class="profitabilitySection__left">
          <div class="graph">
            <div class="graph__bar" style="background-color: #d3b7e0; height: 85%"><span class="graph__bar-text">Body Care</span></div>
            <div class="graph__bar" style="background-color: #b6f1b6; height: 57%"><span class="graph__bar-text">Face Care</span></div>
            <div class="graph__bar" style="background-color: #eade9b; height: 67%"><span class="graph__bar-text">Hair Care</span></div>
            <div class="graph__bar" style="background-color: #a1bfcc; height: 46%"><span class="graph__bar-text">MakeUp</span></div>
            <div class="graph__bar" style="background-color: #d3b0b0; height: 35%"><span class="graph__bar-text">Lashes</span></div>
            <div class="graph__bar" style="background-color: #d396b3; height: 100%"><span class="graph__bar-text">Nails Care</span></div>
          </div>
        </div>
        <div class="profitabilitySection__right">
          <div class="profitabilitySection__title">
            <h2 class="title">Profitability
              <div class="title__shadow">
                <p>Profitability</p>
              </div>
            </h2><img class="profitabilitySection__image" src="/images/8f9053110994693.5ff989bc1c211.jpg" alt="">
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="content footer__content">
        <div class="footer__info">
          <div class="footer__logo">Beauty<span>SOUL</span>Salon</div><a class="footer__phone" href="tel:8017771-11-77">8 (017) 771-11-77</a>
        </div>
        <div class="footer__menu">
          <div class="footer__menu-link"><a href="/">About us</a></div>
          <div class="footer__menu-link"><a href="/">Masters</a></div>
          <div class="footer__menu-link"><a href="/">Our values</a></div>
          <div class="footer__menu-link"><a href="/">Services</a></div>
          <div class="footer__menu-link"><a href="/">Location</a></div>
          <div class="footer__menu-link"><a href="/">Certificates</a></div>
        </div>
      </div>
    </footer>
  </body>
</html>