<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>
    <section class="section login">
      <div class="login__header">
        <header class="header">
          <div class="content header__content"><a class="header__contact-link" href="tel:80177711177">8(017771 11
            77)</a>
            <nav><a href="/main">Main</a><a href="/services/serviceBody">Services</a><a href="/masters">Masters</a><a
                    href="/certificate">Certificate</a><a href="/profile/profileRecord">Profile</a></nav>
          </div>
        </header>
      </div>
      <div class="content login__content">
        <form th:action="@{/login}" method="post" class="login__form">
          <div class="login__form-title">
            <h2 class="title">Login
              <div class="title__shadow">
                <p>Login</p>
              </div>
            </h2>
          </div>
          <div class="login__form-field">
            <label class="field"><span>Email</span>
              <input name="username" type="text"/>
            </label>
          </div>
          <div class="login__form-field">
            <label class="field"><span>Password</span>
              <input name="password" type="text"/>
            </label>
          </div><span class="login__form-forgot-password"><a href="/register">Create an account</a></span>
          <button class="login__form-button">Login</button>
        </form>
        <div class="login__image"><img src="/images/6c1a02146867807.62b85aaf4631b.jpg" alt=""></div>
      </div>
    </section>
    <footer class="footer">
      <div class="content footer__content">
        <div class="footer__info">
          <div class="footer__logo">Beauty<span>SOUL</span>Salon</div><a class="footer__phone" href="tel:8017771-11-77">8 (017) 771-11-77</a>
        </div>
        <div class="footer__menu">
          <div class="footer__menu-link"><a href="/">About us</a></div>
          <div class="footer__menu-link"><a href="/">Masters</a></div>
          <div class="footer__menu-link"><a href="/">Our values</a></div>
          <div class="footer__menu-link"><a href="/">Services</a></div>
          <div class="footer__menu-link"><a href="/">Location</a></div>
          <div class="footer__menu-link"><a href="/">Certificates</a></div>
        </div>
      </div>
    </footer>
  </body>
</html>