<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Tenor+Sans&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Sophia+Morgant&display=swap" rel="stylesheet"/>
    <link href="/main.css" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
<div class="v68_1390">
    <div class="v68_1391"></div>
    <div class="v68_1392"></div>
    <div class="v68_1393"></div>
    <div class="v68_1394">
    </div>
    <div class="v68_1395"></div>
    <div class="v68_1396">
    </div>
    <div class="v68_1397"></div>
    <div class="v68_1398">

    </div>
    <span class="v68_1399">8(017)771 11 77</span>
    <span class="v68_1400">Main</span><span class="v68_1401">Services</span><span class="v68_1402">Masters</span><span
        class="v68_1403">Certificate</span><span class="v68_1404">Profile</span><span
        class="v68_1405">Beauty</span><span class="v68_1406">SOUL</span><span class="v68_1407">space for you</span><span
        class="v68_1408">Salon</span>
    <div class="v68_1409"></div>
    <span class="v68_1410">About us</span>
    <div class="v68_1411"></div>
    <div class="v68_1412"></div>
    <div class="v68_1413"></div>
    <span class="v68_1414">About us</span><span class="v68_1415">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam

Excepteur sint occaecat cupidatat non proident, qui blanditiis praesentium voluptatum deleniti atque corrupti, quos dolores et quas molestias excepturi sint, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</span><span
        class="v68_1416">Our values</span><span class="v68_1417">Value</span><span class="v68_1418">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni</span><span
        class="v68_1419">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magniUt enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magniUt enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magniconsequuntur magni</span><span
        class="v68_1420">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia Ut enim ad minim veniam, quia voluptas sit, aspernatur </span><span
        class="v68_1421">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut </span><span
        class="v68_1422">Pobeditelei Prospect, 21</span><span class="v68_1423">8(017) 771-11-77</span><span
        class="v68_1424">Our values</span><span class="v68_1425">Our services</span><span
        class="v68_1426">Our services</span><span class="v68_1427">Loyalty system</span><span class="v68_1428">Loyalty system</span><span
        class="v68_1429">Gift certificate</span><span class="v68_1430">Gift Cards</span>
    <div class="v68_1431"></div>
    <span class="v68_1432">Value</span><span class="v68_1433">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni</span>
    <div class="v68_1434"></div>
    <span class="v68_1435">Value</span><span class="v68_1436">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni</span>
    <div class="v68_1437"></div>
    <span class="v68_1438">Value</span><span class="v68_1439">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni</span><span
        class="v68_1440">Learn more</span>
    <div class="v68_1441"></div>
    <span class="v68_1442">Value</span><span class="v68_1443">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni</span>
    <div class="v68_1444"></div>
    <div class="v68_1445"></div>
    <div class="v68_1446"></div>
    <span class="v68_1447">Service</span><span class="v68_1448">Service</span>
    <div class="v68_1449"></div>
    <span class="v68_1450">Service</span>
    <div class="v68_1451"></div>
    <span class="v68_1452">Service</span>
    <div class="v68_1453"></div>
    <span class="v68_1454">Service</span>
    <div class="v68_1455"></div>
    <span class="v68_1456">Service</span>
    <div class="v68_1457"></div>
    <div class="v68_1458"></div>
    <div class="v68_1459"></div>
    <div class="v68_1460"></div>
    <div class="v68_1461"></div>
    <div class="v68_1462"></div>
    <div class="v68_1463"></div>
    <span class="v68_1464">Printed
certificate</span><span class="v68_1465">Online
certificate</span>
    <div class="v68_1466"></div>
    <span class="v68_1467">Interior</span><span class="v68_1468">Interior</span><span class="v68_1469">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut ADEGVswx eafwawsfase</span><span
        class="v68_1470">Location & contacts</span><span class="v68_1471">Location & contacts</span>
    <div class="v68_1472"></div>
    <div class="v68_1473"></div>
    <span class="v68_1474">8(017) 771-11-77</span><span class="v68_1475">About us</span><span class="v68_1476">Our values</span><span
        class="v68_1477">Location</span><span class="v68_1478">Masters</span><span class="v68_1479">Services</span><span
        class="v68_1480">Certificates</span><span class="v68_1481">SOUL</span><span class="v68_1482">Salon</span><span
        class="v68_1483">Beauty </span>
    <div class="v68_1484"></div>
    <span class="v68_1485">Service</span>
    <div class="v68_1486"></div>
</div>
</body>
</html>