<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
<section class="topSectionIndexSection">
    <div class="content">
        <div class="topSectionIndexSection__header">
            <header class="header">
                <div class="content header__content"><a class="header__contact-link" href="tel:80177711177">8(017771 11
                    77)</a>
                    <nav><a href="/main">Main</a><a href="/serviceBody">Services</a><a href="/masters">Masters</a><a
                            href="/certificate">Certificate</a><a href="/profile/futureRecords">Profile</a></nav>
                </div>
            </header>
        </div>
        <h1 class="topSectionIndexSection__title"><span>Beauty</span>Soul<span>Beauty</span></h1>
        <p class="topSectionIndexSection__caption">space for you</p>
        <button class="topSectionIndexSection__button"><a href="/login">Login </a></button>
    </div>
</section>
<section class="section aboutUsSection">
    <div class="content aboutUsSection__content">
        <div class="aboutUsSection__left">
            <div class="aboutUsSection__title">
                <h2 class="title">About us
                    <div class="title__shadow">
                        <p>About us</p>
                    </div>
                </h2>
            </div>
            <p class="aboutUsSection__text">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit,
                sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam<br><br>Excepteur
                sint occaecat cupidatat non proident, qui blanditiis praesentium voluptatum deleniti atque corrupti,
                quos dolores et quas molestias excepturi sint, ut aut reiciendis voluptatibus maiores alias consequatur
                aut perferendis doloribus asperiores repellat.</p>
            <div class="aboutUsSection__left-image"></div>
        </div>
        <div class="aboutUsSection__right">
            <div class="aboutUsSection__right-image-1"></div>
            <div class="aboutUsSection__right-image-2"></div>
        </div>
    </div>
</section>
<section class="section ourValuesSection">
    <div class="content ourValuesSection__content">
        <div class="ourValuesSection__title">
            <h2 class="title">Our values
                <div class="title__shadow">
                    <p>Our values</p>
                </div>
            </h2>
        </div>
        <div class="content ourValuesSection__bullets">
            <div class="ourValuesSection__bullet">
                <div class="ourValuesSection__bullet-image"><img src="/images/1.jpg" alt="" width="90" height="90">
                </div>
                <div class="ourValuesSection__bullet-title">Value</div>
                <div class="ourValuesSection__bullet-description">Ut enim ad minim veniam, quia voluptas sit, aspernatur
                    aut odit aut fugit, sed quia consequuntur magni
                </div>
            </div>
            <div class="ourValuesSection__bullet">
                <div class="ourValuesSection__bullet-image"><img src="/images/2.jpg" alt="" width="90" height="90">
                </div>
                <div class="ourValuesSection__bullet-title">Value</div>
                <div class="ourValuesSection__bullet-description">Ut enim ad minim veniam, quia voluptas sit, aspernatur
                    aut odit aut fugit, sed quia consequuntur magni
                </div>
            </div>
            <div class="ourValuesSection__bullet">
                <div class="ourValuesSection__bullet-image"><img src="/images/3.jpg" alt="" width="90" height="90">
                </div>
                <div class="ourValuesSection__bullet-title">Value</div>
                <div class="ourValuesSection__bullet-description">Ut enim ad minim veniam, quia voluptas sit, aspernatur
                    aut odit aut fugit, sed quia consequuntur magni
                </div>
            </div>
            <div class="ourValuesSection__bullet">
                <div class="ourValuesSection__bullet-image"><img src="/images/4.jpg" alt="" width="90" height="90">
                </div>
                <div class="ourValuesSection__bullet-title">Value</div>
                <div class="ourValuesSection__bullet-description">Ut enim ad minim veniam, quia voluptas sit, aspernatur
                    aut odit aut fugit, sed quia consequuntur magni
                </div>
            </div>
            <div class="ourValuesSection__bullet">
                <div class="ourValuesSection__bullet-image"><img src="/images/5.jpg" alt="" width="90" height="90">
                </div>
                <div class="ourValuesSection__bullet-title">Value</div>
                <div class="ourValuesSection__bullet-description">Ut enim ad minim veniam, quia voluptas sit, aspernatur
                    aut odit aut fugit, sed quia consequuntur magni
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section ourServicesSection">
    <div class="content">
        <div class="ourServicesSection__title">
            <h2 class="title">Our services
                <div class="title__shadow">
                    <p>Our services</p>
                </div>
            </h2>
        </div>
        <div class="ourServicesSection__services">
            <a class="ourServicesSection__service" href="/serviceBody">
                <img src="/images/close-up-beautiful-african-woman-enjoying-massage-spa-salon.jpg" alt="">
                <div class="ourServicesSection__service-content">
                    <span>Body Care</span>
                </div>
            </a>
            <a class="ourServicesSection__service" href="/serviceNails">
                <img src="/images/60f495130250657.617bd6ebf1ae0.jpg" alt="">
                <div class="ourServicesSection__service-content">
                    <span>Nails Care</span>
                </div>
            </a>
            <a class="ourServicesSection__service" href="/serviceFace">
                <img src="/images/attractive-african-woman-enjoying-face-massage-spa-salon.jpg" alt="">
                <div class="ourServicesSection__service-content">
                    <span>Face Care</span>
                </div>
            </a>
            <a class="ourServicesSection__service" href="/serviceHair">
                <img src="/images/063222133356047.61bb6a11af644.jpg" alt="">
                <div class="ourServicesSection__service-content">
                    <span>Hair Care</span>
                </div>
            </a>
            <a class="ourServicesSection__service" href="/serviceMakeUp">
                <img src="/images/1b0174168699257.643f32e497470.jpg" alt="">
                <div class="ourServicesSection__service-content">
                    <span>MakeUp</span>
                </div>
            </a>
            <a class="ourServicesSection__service" href="/serviceLashes">
                <img src="/images/c2e478156489437.63686b7cde274.jpg" alt="">
                <div class="ourServicesSection__service-content">
                    <span>Lashes/Brows</span>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="section loyaltySystemSection">
    <div class="content loyaltySystemSection__content">
        <div class="loyaltySystemSection__left">
            <div class="loyaltySystemSection__title">
                <h2 class="title">Loyalty system
                    <div class="title__shadow">
                        <p>Loyalty system</p>
                    </div>
                </h2>
            </div>
            <div class="loyaltySystemSection__text">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut
                fugit, sed quia Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia
                consequuntur magniUt enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia
                consequuntur magniUt enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia
                consequuntur magniconsequuntur magni
            </div>
            <a class="loyaltySystemSection__more" href="/">Learn more</a>
        </div>
        <div class="loyaltySystemSection__right"><img src="/images/445df7146551469.62b26e4d7eaa8.jpg" alt=""></div>
    </div>
</section>
<section class="section giftCertificateSection">
    <div class="content">
        <div class="giftCertificateSection__title">
            <h2 class="title">Gift certificate
                <div class="title__shadow">
                    <p>Gift certificate</p>
                </div>
            </h2>
        </div>
        <div class="giftCertificateSection__certificates">
            <div class="giftCertificateSection__certificate giftCertificateSection__certificate_printed">Printed<br>certificate
            </div>
            <div class="giftCertificateSection__text">
                <p>Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut fugit, sed quia Ut enim ad minim
                    veniam, quia voluptas sit, aspernatur</p>
            </div>
            <div class="giftCertificateSection__certificate giftCertificateSection__certificate_online">Online<br>certificate<a
                    class="giftCertificateSection__certificate-button" href="/certificate">Buy</a></div>
        </div>
    </div>
</section>
<section class="section interiorSection">
    <div class="content">
        <div class="interiorSection__title">
            <h2 class="title">Interior
                <div class="title__shadow">
                    <p>Interior</p>
                </div>
            </h2>
        </div>
        <div class="interiorSection__description">
            <p>Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut</p>
        </div>
        <div class="interiorSection__images"><img class="interiorSection__image"
                                                  src="/images/f3924c150505719.62fb976d646a8.jpg" alt=""><img
                class="interiorSection__image" src="/images/40c945150505719.62fb976d66e3e.jpg" alt=""><img
                class="interiorSection__image" src="/images/d57d45150505719.62fb976d66654.jpg" alt=""><img
                class="interiorSection__image" src="/images/45151b150505719.62fb976d65665.jpg" alt=""><img
                class="interiorSection__image" src="/images/694ad9150505719.62fb976d6952f.jpg" alt="">
        </div>
    </div>
</section>
<section class="section locationSection">
    <div class="content">
        <div class="locationSection__title">
            <h2 class="title">Location &amp; contacts
                <div class="title__shadow">
                    <p>Location &amp; contacts</p>
                </div>
            </h2>
        </div>
        <div class="locationSection__description">Ut enim ad minim veniam, quia voluptas sit, aspernatur aut odit aut
            ADEGVswx eafwawsfase
        </div>
    </div>
    <div class="locationSection__image"><img src="/images/image_2023-05-01_01-48-40.png" alt=""></div>
    <div class="locationSection__contacts">
        <p>Pobeditelei Prospect, 21</p><a href="tel:80177711177">8 (017) 771-11-71</a>
    </div>
</section>
<footer class="footer">
    <div class="content footer__content">
        <div class="footer__info">
            <div class="footer__logo">Beauty<span>SOUL</span>Salon</div>
            <a class="footer__phone" href="tel:8017771-11-77">8 (017) 771-11-77</a>
        </div>
        <div class="footer__menu">
            <div class="footer__menu-link"><a href="/">About us</a></div>
            <div class="footer__menu-link"><a href="/">Masters</a></div>
            <div class="footer__menu-link"><a href="/">Our values</a></div>
            <div class="footer__menu-link"><a href="/">Services</a></div>
            <div class="footer__menu-link"><a href="/">Location</a></div>
            <div class="footer__menu-link"><a href="/">Certificates</a></div>
        </div>
    </div>
</footer>
</body>
</html>