<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<table>
  <tbody>
  <tr class="admin__action" th:each="service : ${services}">
    <td class="admin__action" th:text="${service.getServiceName()}">Name</td>
    <td class="admin__action" th:text="${service.getServiceCode()}">Departure</td>
    <td class="admin__action" th:text="${service.getMasterName()}">Name</td>
    <td class="admin__action" th:text="${service.getCost()}">Name</td>
    <td>
      <a class="admin__action" th:href="@{/admin/serviceAction/edit/{id}(id=${service.getIdService()})}">Edit</a>
    </td>
    <td>
      <a class="admin__action" th:href="@{/admin/serviceAction/delete/{id}(id=${service.getIdService()})}">Delete</a>
    </td>
  </tr>
  </tbody>
</table>
<a class="admin__action" th:href="@{/admin/serviceAction/add}">Add</a></body>
</html>