<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:text="${user.getEmail()}"></span>
<br>
<span th:text="${user.getBalance()}"></span>
<br>
<span th:text="${user.getCertificate()}"></span>
<br>
<span th:text="${user.getBonus()}"></span>

<a th:href="@{/info/changePassword}">Change</a>
<a th:href="@{/info/giveCertificate}">Give a certificate</a>
<a th:href="@{/info/replenishBalance}">replenish the balance</a>

</body>
</html>